/* Tailwind Intellisense Activated */
@import "tailwindcss";

/* Design Variables */
:root {
  --gradient-col: linear-gradient(
    90deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(131, 58, 180, 1) 100%
  );
  --secondary-col: #00ff88;
}

/* Default Styles */
* {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  color: white;
  background-color: #1a0b2e;
  scroll-behavior: smooth;
}

section {
  max-width: 1200px;
  margin: 80px auto;
  padding: 15px 20px;
}

nav {
  max-width: 1200px;
  margin: 0px auto;
  padding: 15px 20px;
}

button {
  cursor: pointer;
}

nav ul li a {
  transition: 0.2s ease;
}

nav ul li a:hover {
  font-weight: bolder;
}

/* Shared Styles */

.logo-gradient {
  color: transparent;
  background: var(--gradient-col);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 15px 30px;
  background: var(--gradient-col);
  border-radius: 45px;
  font-weight: bolder;
  gap: 10px;
  overflow-x: hidden;
  transition: all 0.3s ease-in;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 8px purple;
}

.btn-2 {
  border: 1px solid var(--secondary-col);
  color: var(--secondary-col);
  background: transparent;
}

.btn-2:hover {
  box-shadow: 1px 1px 8px #00ff88;
}

/* Hero Section Style */
#hero {
  max-width: 100vw;
  margin: 0;
  padding: 100px 20px;
  animation: slide-in 1s ease-out;
}

/* Hero Section loading screen animation */
@keyframes slide-in {
    0% {
        transform: translateY(20px);
        opacity: 0.1;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
